.player-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #181818;
  padding: 10px 20px;
  border-top: 1px solid #333;
  color: #fff;
  font-size: 14px;
}

.song-info {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 25%;
}

.album-cover {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.song-text {
  display: flex;
  flex-direction: column;
}

.song-title {
  font-weight: bold;
  font-size: 14px;
}

.song-artist {
  font-size: 12px;
  color: #aaa;
}

.player-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.player-controls {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 8px;
}

.icon {
  cursor: pointer;
  transition: color 0.3s;
}

.icon:hover {
  color: #1db954;
}

.play {
  font-size: 20px;
}

.small {
  font-size: 14px;
}

.progress-container {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.time {
  font-size: 11px;
  color: #bbb;
}

.progress-bar {
  flex: 1;
  height: 4px;
  background: #333;
  border-radius: 2px;
  overflow: hidden;
}

.progress {
  width: 30%;
  height: 100%;
  background: #1db954;
}


.player-extra {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 25%;
  justify-content: flex-end;
}

.volume-slider {
  width: 100px;
}
