.song-grid {
  display: flex;
  flex: 1;
  overflow: hidden;
  background: linear-gradient(to bottom, #1f1f1f, #090909);
  
}

.songs {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 30px;
  padding: 20px;
  overflow-y: auto;
  align-content: start;
  
}
