.song-grid {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.songs {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
  padding: 20px;
  overflow-y: auto;
}
