@font-face {
  font-family: "spotify-m";
  src: url("/public/fonts/GothamMedium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: spotify-m, Verdana, Geneva, Tahoma, sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #121212;
  color: white;
}
